.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Header {
  color: #636363;
}

.Header h2 {
  margin: 10px 0px;
}

.GameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GameBoardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.GameBoardSquare {
  width: 100px;
  height: 100px;
  background: rgb(237, 0, 0, .5);
  border-radius: 10px;
  margin: 5px;
}

.GameBoardSquare:hover {
  background: rgb(237, 0, 0, 1);
}
